// CompanyDetails.module.scss
.container {
    display: flex;
    flex-direction: column;
  }
  
  .defaultSection {
    margin-bottom: 20px;
  }
  
  .navbarContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
  }
  
  .navbarItems {
    display: flex;
    flex-direction: column;
  }
  
  .fixedHeightContainer {
    height: 80px; // Adjust as necessary to fit within the fixed height of the modal
    overflow-y: auto;
  }
  